N8N_VERSION=latest
GENERIC_TIMEZONE=UTC
N8N_LOG_LEVEL=debug
NPM_CONFIG_LOGLEVEL=verbose
NPM_CONFIG_REGISTRY=https://registry.npmjs.org/
WETOMATE_N8N_EMAIL=dev@wetomate.local
WETOMATE_N8N_FIRST_NAME=Wetomate
WETOMATE_N8N_LAST_NAME=Developer
WETOMATE_N8N_PASSWORD=Wetomate123!
WETOMATE_AUTO_LOGIN=true
WETOMATE_N8N_URL=http://127.0.0.1:5678
WETOMATE_CHROME_PROFILE=.wetomate-dev-browser
WETOMATE_CHROME=google-chrome
WETOMATE_CHROME_DEBUG_PORT=9222
WETOMATE_SEED_SAMPLE_WORKFLOWS=true
